.backdrop {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;

	background-color: rgba(0, 0, 0, 0.6);

	display: flex;
	justify-content: center;
	align-items: flex-start;
	padding-top: 128px;
}

.card {
	background-color: white;
	color: black;

	border-radius: 16px;
	width: 600px;
	max-width: 95%;
	padding: 16px;
}
